/* Palette URL: http://paletton.com/#uid=70s0u0kllll9msUfmp7rkhzzYdM */

.diagram {
  stroke-width: 0px;
  fill-opacity: 0.0;
}

.body {
  color: #AA8339;
  fill: #AA8339;
  stroke: #AA8339;
}

.finger {
  stroke-width: 1px;
  fill-opacity: 1.0;
}

.leg {
  stroke-width: 3px;
  fill-opacity: 0.0;
}

.unconnectedLeg,
.unconnectedFinger {
  color: #236863;
  fill: #236863;
  stroke: #236863;
}

.connectedLeg,
.connectedFinger {
  color: #648E8B;
  fill: #648E8B;
  stroke: #648E8B;
}

.strip,
.hole {
  color: #E6C0A3;
  fill: #E6C0A3;
  stroke: #E6C0A3
}

.holeDecorator {
  color: #AA6A39;
  fill: #AA6A39;
  stroke: #AA6A39;
  fill-opacity: 0.0;
}