/* Palette URL: http://paletton.com/#uid=70s0u0kllll9msUfmp7rkhzzYdM */

.diagram {
  stroke-width: 0px;
  fill-opacity: 0.0;
}

.body {
  fill: #e6c88c;
  fill-opacity: 1.0;
  stroke: #b5975a;
}

.leg {
  stroke-width: 3px;
  fill-opacity: 0.0;
  pointer-events: none;
}

.unconnectedLeg {
  stroke: #e03434;
}

.connectedLeg {
  stroke: #777777;
}

.finger {
  fill-opacity: 1.0;
}

.unconnectedFinger {
  fill: #e03434;
  stroke: #e03434;
  stroke-width: 1px;
}

.connectedFinger {
  fill: #777777;
  stroke: #afafaf;
  stroke-width: 2px;
}

.breadboard {
  stroke: #afafaf;
  fill-opacity: 0.0;
}

.strip,
.hole {
  fill: white;
  stroke: #afafaf;
  fill-opacity: 1.0;
}

.holeDecorator {
  fill: white;
  stroke: #afafaf;
  stroke-width: 3px;
}

.palette {
  fill: white;
  stroke: #232323;
}

.paletteItem0 {
  fill-opacity: 0.0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg#greyscale);
  filter: gray;
  /* IE 6-9 */
}

.paletteItem {
  fill-opacity: 0.0;
  -webkit-filter: grayscale(100%);
}