/* Palette URL: http://paletton.com/#uid=70s0u0kllll9msUfmp7rkhzzYdM */

.diagram {
  stroke-width: 0px;
  fill-opacity: 0.0;
}

.body {
  fill: #e6c88c;
  stroke: #b5975a;
}

.leg {
  stroke-width: 3px;
  fill-opacity: 0.0;
  pointer-events: none;
}

.unconnectedLeg {
  stroke: #e03434;
}

.connectedLeg {
  stroke: #777777;
}

.finger {
  fill-opacity: 1.0;
}

.unconnectedFinger {
  fill: #e03434;
  stroke: #e03434;
  stroke-width: 1px;
}

.connectedFinger {
  fill: #777777;
  stroke: #afafaf;
  stroke-width: 2px;
}

.breadboard {
  stroke: #afafaf;
  fill-opacity: 0.0;
}

.strip,
.hole {
  fill: white;
  stroke: #afafaf;
}

.holeDecorator {
  fill: white;
  stroke: #afafaf;
  stroke-width: 3px;
}

.palette {
  fill: white;
  stroke: #232323;
}

.componentHandler {
  fill-opacity: 0.5;
}